:host {
  all: initial;

  --border-radius: 6px;
  --border: #999999;
  --background-color: white;
  --text-color: #333333;
  --button-color: white;
  --button-background: #f30d12;
  --button-background-hover: #e40d0d;
  --button-cancel-background: #999999;
  --button-cancel-background-hover: #666666;
  --options-bg-color: #f1f1f1;
  --check-checked: #03bcfc;
  --unchecked-circle: #e6e6e6;
  --premium-accent: #ffca00;
  --link-color: #2284f7;
}

* {
  font-family: "Lato", Arial, sans-serif;
  font-size: 16px;
}

.material-icons {
  font-family: "Material Icons";
  cursor: pointer;
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: middle;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;

  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

/* RTL language */

[dir="rtl"] {
  left: auto;
  right: 75px;
}

#wizard {
  position: fixed;
  top: 55px;
  left: 75px;
  width: 550px;
  min-width: 525px;
  background: var(--background-color);
  border: 1px solid var(--border);
  color: var(--text-color);
  z-index: 2147483647;
  border-radius: var(--border-radius);
}

header {
  display: flex;
  align-items: center;
  cursor: move;
  background: var(--options-bg-color);
  color: var(--text-color);
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
  padding: 0 8px;
}

header > img {
  height: 24px;
  width: 24px;
}

header > h1 {
  display: inline-block;
  cursor: move;
  padding: 4px 12px;
  font-size: 16px;
}

section {
  display: block;
  padding: 6px 12px;
  margin-top: 12px;
  min-height: 40px;
}

footer {
  display: flex;
  justify-content: flex-end;
  background: var(--options-bg-color);
  color: var(--text-color);
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  padding: 12px;
}

fieldset {
  border: none;
}

button {
  color: var(--button-color);
  background-color: var(--button-background);
  border: none;
  display: inline-block;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  border-radius: var(--border-radius);
  padding: 6px 12px;
  margin: 0 12px;
}

button:hover {
  background-color: var(--button-background-hover);
  box-shadow: none;
  -webkit-box-shadow: none;
}

button:active {
  position: relative;
  top: 1px;
}

button:focus {
  outline: none;
  box-shadow: none;
}

button.cancel {
  background-color: var(--button-cancel-background);
}

button.cancel:hover {
  background-color: var(--button-cancel-background-hover);
}

div > label {
  margin-left: 7px;
}

label {
  cursor: pointer;
}

input[type="checkbox"] {
  height: 16px;
  width: 16px;
  vertical-align: top;
}

input[type="range"] {
  vertical-align: middle;
}

section.body-button {
  display: flex;
  justify-content: flex-end;
  min-height: auto;
  padding: 0;
  margin: 16px;
}

.body-button button {
  margin: 0;
  background-color: var(--button-cancel-background);
}

.body-button button:hover {
  background-color: var(--button-cancel-background-hover);
}

#block_something_else_btn {
  margin-right: 24px;
}

a.link {
  color: var(--link-color);
  text-decoration: none;
}

a.link:hover {
  font-weight: bold;
}

/* Whitelist specific */

#adblock-wizard-form {
  margin: 16px 12px;
}

#adblock-parts > li {
  display: inline-block;
  font-style: italic;
}

#adblock-sliders {
  padding: 5px 0;
}

#adblock-sliders div {
  display: inline-block;
}

#adblock-checkboxes {
  padding: 10px 0;
}

#adblock-rule {
  margin-top: 12px;
  font-weight: bold;
}

/* Blacklist specific */

#slider {
  width: calc(100% - 30px);
  margin: 15px 15px 0 15px;
}

#selected-data .node_attr {
  margin-left: 10px;
}

#count {
  background: #eeeeee;
  border: 1px solid #dddddd;
  padding: 3px;
  line-height: 25px;
}

button.edit.advanced-user {
  display: none; /* Default */
}

#filter-warning {
  font-weight: bold;
  color: var(--button-background);
}

#summary {
  display: block;
  margin: 10px;
  word-break: break-all;
}

#summary-pg-3 {
  margin-top: 12px;
  font-weight: bold;
}

#adblock-details > div {
  display: block;
  margin: 3px 0;
}

/* Premium CTA specific */

#cta-msg,
#dismissed-msg {
  margin: 12px;
}

#cta-buttons {
  margin: 4px 0 12px 0;
  display: flex;
  justify-content: flex-end;
}

button.learn-more {
  min-width: 176px;
  min-height: 40px;
  background-color: var(--premium-accent);
  color: var(--text-color);
  font-weight: bold;
}

button.learn-more:hover {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

button.close {
  height: 40px;
  width: 40px;
  color: var(--text-color);
  background: none;
  border: none;
  padding: 0;
}

button.close:hover {
  color: var(--button-color);
  background-color: var(--button-cancel-background);
}
