#  Root folder

_locales/*
adblockpluschrome/*
devenv/*
icons/*


# adblock-betafish folder

adblock-betafish/alias/*
adblock-betafish/data/*
adblock-betafish/fonts/*
adblock-betafish/jquery/*
adblock-betafish/localLib/*
adblock-betafish/pubnub/*
adblock-betafish/translators.json
adblock-betafish/localFilesIndex.js
adblock-betafish/lib/*