[submodule "vendor/webext-sdk"]
	path = vendor/webext-sdk
	url = https://gitlab.com/eyeo/adblockplus/abc/webext-sdk.git
[submodule "vendor/adblockplusui"]
	path = vendor/adblockplusui
	url = https://gitlab.com/eyeo/adblockplus/abpui/adblockplusui.git
