#dark_theme {
  /* Needed for Pop-up Menu */
  --popup-main-text-color: #f4f4f4;
  --popup-accent-color: #999999;
  --popup-accent-hovered-color: #ffffff;
  --popup-entry-hovered-bg-color: #000000;
  --popup-block-ads-bg-color: #333333;
  --block-count-color: #ff363b;
  --background-color: #666666;
  --link-color: #4ecdf9;
  --popup-button: #fc1c1c;
  --popup-button-text: #ffffff;
  --popup-button-disabled-text: #333333;
  --popup-link-text: #4ecdf9;
  /* Additional for Options Page */
  --main-text-color: #f4f4f4;
  --sidebar-bg-color: #4c4c4c;
  --checkbox-bg-color: #03bcfc;
  --not-selected-checkbox-bg-color: #999999;
  --bottom-line-color: #999999;
  --help-icon-color: #999999;
  --help-icon-color-hovered: white;
  --link-hovered-color: #03bcfc;
  --sidebar-link-hovered-color: white;
  --customize-dropdown-menu-icon-color: white;
  --standout-text-color: #ffca00;
  --active-tab-color: #f4f4f4;
  --select-language-border-top-width: 0px;
  --unselected-toggle-border-color: #666666;
  --mab-feature-card-header-locked-bg: #999999;
  --mab-feature-card-header-unlocked-bg: #333;
  --mab-feature-card-header-text-color: white;
  --mab-teaser-card-header-text-color: #333;
  --mab-feature-card-text-color: #333;
  --mab-feature-card-body-bg: #c6c6c6;
  --options-button-text: white;
  --options-button-bg: #ff363b;
  --options-premium-badge: #999999;
  /* Aliases of other properties:
     These are currently all defined by other
     custom properties, but might be further differentiated
     in future themes */
  --popup-link-hovered: var(--block-count-color);
  --premium-badge: var(--popup-accent-color);
  --options-page-accent-text: var(--popup-main-text-color);
  --speech-bubble-border-color: var(--bottom-line-color);
  --hide-mab-enrollment: var(--help-icon-color);
  --loading-ellipses: var(--help-icon-color);
  --mab-feedback-button-border: var(--help-icon-color);
  --header-social-icons: var(--active-tab-color);
  --image-swap-section-bg-unselected: var(--sidebar-bg-color);
  --image-swap-section-bg-selected: var(--background-color);
  --sync-error-msg-background-color: var(--options-button-bg-hover);
  --sync-msg-color: var(--options-button-text);
}
#default_theme {
  /* Needed for Pop-up Menu */
  --popup-main-text-color: #333333;
  --popup-accent-color: #c6c6c6;
  --popup-accent-hovered-color: #666666;
  --popup-entry-hovered-bg-color: #e6e6e6;
  --popup-block-ads-bg-color: #f4f4f4;
  --block-count-color: #ce0707;
  --background-color: white;
  --link-color: #2284f7;
  --popup-button: #ffca00;
  --popup-button-text: #666666;
  --popup-button-disabled-text: #666666;
  --popup-link-text: #2284f7;
  /* Additional for Options Page */
  --main-text-color: #666666;
  --sidebar-bg-color: #f1f1f1;
  --checkbox-bg-color: #03bcfc;
  --not-selected-checkbox-bg-color: #e6e6e6;
  --bottom-line-color: #e6e6e6;
  --help-icon-color: #c8c8c8;
  --help-icon-color-hovered: #666666;
  --link-hovered-color: #f30d12;
  --sidebar-link-hovered-color: #333333;
  --customize-dropdown-menu-icon-color: #f30d12;
  --standout-text-color: #f30d12;
  --active-tab-color: #666666;
  --select-language-border-top-width: 1px;
  --unselected-toggle-border-color: #e6e6e6;
  --mab-feature-card-header-locked-bg: #e6e6e6;
  --mab-feature-card-header-unlocked-bg: #666;
  --mab-feature-card-header-text-color: white;
  --mab-teaser-card-header-text-color: #666;
  --mab-feature-card-text-color: #666;
  --mab-feature-card-body-bg: #f4f4f4;
  --options-button-text: white;
  --options-button-bg: #ff363b;
  --options-premium-badge: #666666;
  /* Aliases of other properties:
     These are currently all defined by other
     custom properties, but might be further differentiated
     in future themes */
  --popup-link-hovered: var(--block-count-color);
  --premium-badge: var(--popup-accent-color);
  --options-page-accent-text: var(--popup-main-text-color);
  --speech-bubble-border-color: var(--bottom-line-color);
  --hide-mab-enrollment: var(--help-icon-color);
  --loading-ellipses: var(--help-icon-color);
  --mab-feedback-button-border: var(--help-icon-color);
  --header-social-icons: var(--active-tab-color);
  --image-swap-section-bg-unselected: var(--sidebar-bg-color);
  --image-swap-section-bg-selected: var(--background-color);
  --sync-error-msg-background-color: var(--options-button-bg-hover);
  --sync-msg-color: var(--options-button-text);
}
#solarized_theme,
[data-theme-cta="solarized_theme"] {
  /* Needed for Pop-up Menu */
  --popup-main-text-color: #90a2a2;
  --popup-accent-color: #90a2a2;
  --popup-accent-hovered-color: #f4f4f4;
  --popup-entry-hovered-bg-color: #002c38;
  --popup-block-ads-bg-color: #002c38;
  --block-count-color: #ff363b;
  --background-color: #003643;
  --link-color: #009f94;
  --popup-button: #fc1c1c;
  --popup-button-text: #ffffff;
  --popup-button-disabled-text: #ffffff;
  --popup-link-text: #009f94;
  /* Additional for Options Page */
  --main-text-color: #90a2a2;
  --sidebar-bg-color: #002c38;
  --checkbox-bg-color: #00a498;
  --not-selected-checkbox-bg-color: #002c38;
  --bottom-line-color: #3e656b;
  --help-icon-color: #90a2a2;
  --help-icon-color-hovered: #f4f4f4;
  --link-hovered-color: #2be3d6;
  --sidebar-link-hovered-color: #f4f4f4;
  --customize-dropdown-menu-icon-color: #dc322f;
  --standout-text-color: #ee0d20;
  --active-tab-color: #90a2a2;
  --select-language-border-top-width: 0px;
  --unselected-toggle-border-color: #3e656b;
  --mab-feature-card-header-locked-bg: #244952;
  --mab-feature-card-header-unlocked-bg: #002c38;
  --mab-feature-card-header-text-color: #90a2a2;
  --mab-teaser-card-header-text-color: #90a2a2;
  --mab-feature-card-text-color: #002c38;
  --mab-feature-card-body-bg: #586e75;
  --options-button-text: #003643;
  --options-button-bg: #dc322f;
  --options-premium-badge: #90a2a2;
  /* Aliases of other properties:
     These are currently all defined by other
     custom properties, but might be further differentiated
     in future themes */
  --popup-link-hovered: var(--block-count-color);
  --premium-badge: var(--popup-accent-color);
  --options-page-accent-text: var(--popup-main-text-color);
  --speech-bubble-border-color: var(--bottom-line-color);
  --hide-mab-enrollment: var(--help-icon-color);
  --loading-ellipses: var(--help-icon-color);
  --mab-feedback-button-border: var(--help-icon-color);
  --header-social-icons: var(--active-tab-color);
  --image-swap-section-bg-unselected: var(--sidebar-bg-color);
  --image-swap-section-bg-selected: var(--background-color);
  --sync-error-msg-background-color: var(--options-button-bg-hover);
  --sync-msg-color: var(--options-button-text);
  --popup-themes-cta-icon: var(--checkbox-bg-color);
  --popup-themes-cta-text: var(--popup-main-text-color);
  --popup-themes-cta-background: var(--background-color);
  --popup-themes-cta-background-on-hover: var(--checkbox-bg-color);
  --popup-themes-cta-color-on-hover: var(--background-color);
}
#solarized_light_theme,
[data-theme-cta="solarized_light_theme"] {
  /* Needed for Pop-up Menu */
  --popup-main-text-color: #607c84;
  --popup-accent-color: #607c84;
  --popup-accent-hovered-color: #003643;
  --popup-entry-hovered-bg-color: #eee8d5;
  --popup-block-ads-bg-color: #eee8d5;
  --block-count-color: #ff363b;
  --background-color: #fdf6e3;
  --link-color: #00a498;
  --popup-button: #657b83;
  --popup-button-text: #fdf6e3;
  --popup-button-disabled-text: #a9b1ac;
  --popup-link-text: #00a498;
  /* Additional for Options Page */
  --main-text-color: #607c84;
  --sidebar-bg-color: #eee8d5;
  --checkbox-bg-color: #00a498;
  --not-selected-checkbox-bg-color: #eee8d5;
  --bottom-line-color: #eee8d5;
  --help-icon-color: #607c84;
  --help-icon-color-hovered: #003643;
  --link-hovered-color: #003643;
  --sidebar-link-hovered-color: #003643;
  --customize-dropdown-menu-icon-color: #e40d0d;
  --standout-text-color: #ee0d20;
  --active-tab-color: #607c84;
  --select-language-border-top-width: 1px;
  --unselected-toggle-border-color: #eee8d5;
  --mab-feature-card-header-locked-bg: #a9b1ac;
  --mab-feature-card-header-unlocked-bg: #657b83;
  --mab-feature-card-header-text-color: #fdf6e3;
  --mab-teaser-card-header-text-color: #fdf6e3;
  --mab-feature-card-text-color: #657b83;
  --mab-feature-card-body-bg: #eee8d5;
  --options-button-text: white;
  --options-button-bg: #ff363b;
  --options-premium-badge: #607c84;
  /* Aliases of other properties:
     These are currently all defined by other
     custom properties, but might be further differentiated
     in future themes */
  --popup-link-hovered: var(--block-count-color);
  --premium-badge: var(--popup-accent-color);
  --options-page-accent-text: var(--popup-main-text-color);
  --speech-bubble-border-color: var(--bottom-line-color);
  --hide-mab-enrollment: var(--help-icon-color);
  --loading-ellipses: var(--help-icon-color);
  --mab-feedback-button-border: var(--help-icon-color);
  --header-social-icons: var(--active-tab-color);
  --image-swap-section-bg-unselected: var(--sidebar-bg-color);
  --image-swap-section-bg-selected: var(--background-color);
  --sync-error-msg-background-color: var(--options-button-bg-hover);
  --sync-msg-color: var(--options-button-text);
  --popup-themes-cta-icon: var(--checkbox-bg-color);
  --popup-themes-cta-text: var(--popup-main-text-color);
  --popup-themes-cta-background: var(--background-color);
  --popup-themes-cta-background-on-hover: var(--checkbox-bg-color);
  --popup-themes-cta-color-on-hover: var(--background-color);
}
#rebecca_purple_theme {
  /* Needed for Pop-up Menu */
  --popup-main-text-color: white;
  --popup-accent-color: #b399cc;
  --popup-accent-hovered-color: #ffffff;
  --popup-entry-hovered-bg-color: #3f2e56;
  --popup-block-ads-bg-color: #48226e;
  --block-count-color: #4ecdf9;
  --background-color: #663399;
  --link-color: #ffca00;
  --popup-button: white;
  --popup-button-text: #663399;
  --popup-button-disabled-text: #663399;
  --popup-link-text: #ffca00;
  /* Aliases of other properties:
     These are currently all defined by other
     custom properties, but might be further differentiated
     in future themes */
  --popup-link-hovered: var(--block-count-color);
  --premium-badge: var(--popup-accent-color);
}
#watermelon_theme,
[data-theme-cta="watermelon_theme"] {
  /* Needed for Pop-up Menu */
  --popup-main-text-color: white;
  --popup-accent-color: #f18686;
  --popup-accent-hovered-color: #ffffff;
  --popup-entry-hovered-bg-color: #ce0707;
  --popup-block-ads-bg-color: #ce0707;
  --block-count-color: white;
  --background-color: #e40d0d;
  --link-color: #333333;
  --popup-button: #ffca00;
  --popup-button-text: #333333;
  --popup-button-disabled-text: #333333;
  --popup-link-text: #ffffff;
  /* Aliases of other properties:
     These are currently all defined by other
     custom properties, but might be further differentiated
     in future themes */
  --premium-badge: var(--popup-accent-color);
  --popup-link-hovered: var(--block-count-color);
  --popup-themes-cta-icon: var(--popup-main-text-color);
  --popup-themes-cta-text: var(--popup-main-text-color);
  --popup-themes-cta-background: var(--background-color);
  --popup-themes-cta-background-on-hover: var(--link-color);
  --popup-themes-cta-color-on-hover: var(--popup-main-text-color);
}
#ocean_theme,
[data-theme-cta="ocean_theme"] {
  /* Needed for Pop-up Menu */
  --popup-main-text-color: white;
  --popup-accent-color: #81defe;
  --popup-accent-hovered-color: #ffffff;
  --popup-entry-hovered-bg-color: #2284f7;
  --popup-block-ads-bg-color: #2284f7;
  --block-count-color: white;
  --background-color: #03bcfc;
  --link-color: #333333;
  --popup-button: #ffca00;
  --popup-button-text: #333333;
  --popup-button-disabled-text: #333333;
  --popup-link-text: #ffffff;
  /* Aliases of other properties:
     These are currently all defined by other
     custom properties, but might be further differentiated
     in future themes */
  --premium-badge: var(--popup-accent-color);
  --popup-link-hovered: var(--block-count-color);
  --popup-themes-cta-icon: var(--popup-main-text-color);
  --popup-themes-cta-text: var(--popup-main-text-color);
  --popup-themes-cta-background: var(--background-color);
  --popup-themes-cta-background-on-hover: var(--link-color);
  --popup-themes-cta-color-on-hover: var(--popup-main-text-color);
}
#sunshine_theme,
[data-theme-cta="sunshine_theme"] {
  /* Needed for Pop-up Menu */
  --popup-main-text-color: white;
  --popup-accent-color: #ffd780;
  --popup-accent-hovered-color: #ffffff;
  --popup-entry-hovered-bg-color: #ff9c00;
  --popup-block-ads-bg-color: #ff9c00;
  --block-count-color: white;
  --background-color: #ffae00;
  --link-color: #7f5600;
  --popup-button: #ce5001;
  --popup-button-text: #ffffff;
  --popup-button-disabled-text: #7f5600;
  --popup-link-text: #7f5600;
  /* Aliases of other properties:
     These are currently all defined by other
     custom properties, but might be further differentiated
     in future themes */
  --premium-badge: var(--popup-accent-color);
  --popup-link-hovered: var(--block-count-color);
  --popup-themes-cta-icon: var(--link-color);
  --popup-themes-cta-text: var(--link-color);
  --popup-themes-cta-background: var(--background-color);
  --popup-themes-cta-background-on-hover: var(--link-color);
  --popup-themes-cta-color-on-hover: var(--popup-main-text-color);
}
