#dark_theme {
  --main-text-color: #F4F4F4;
  --popup-menu--main-text-color: #F4F4F4;
  --popup-menu--entry-hovered-bg-color: #333333;
  --popup-menu--block-ads-bg-color: #4C4C4C;
  --background-color: #666666;
  --options-header-bg-color: #4C4C4C;
  --options-footer-bg-color: #4C4C4C;
  --teaser-theme-box-color: #666666;
  --not-selected-checkbox-bg-color: #999999;
  --bottom-line-color: #999999;
  --speech-bubble-border-color: #999999;
  --help-icon-color: #999999;
  --help-icon-color-hovered: white;
  --link-color: #4ECDF9;
  --link-hovered-color: #03BCFC;
  --text-link-hovered-color: #03BCFC;
  --language-dropdown-menu-icon-color: white;
  --customize-dropdown-menu-icon-color: white;
  --standout-text-color: #FFCA00;
  --active-tab-color: #F4F4F4;
  --locked-toggle-color: #999999;
  --adblock-logo-url: url(icons/dark_theme/logo.png);
  --twitter-logo-url: url(icons/dark_theme/twitter-icon.svg);
  --facebook-logo-url: url(icons/dark_theme/facebook-icon.svg);
  --language-dropdown-icon-url: url(icons/dark_theme/dropdown_circle.svg);
  --select-language-border-top-width: 0px;
}
#default_theme {
  --main-text-color: #666666;
  --popup-menu--main-text-color: #333333;
  --popup-menu--entry-hovered-bg-color: #E6E6E6;
  --popup-menu--block-ads-bg-color: #f4f4f4;
  --background-color: white;
  --options-header-bg-color: #F1F1F1;
  --options-footer-bg-color: #F1F1F1;
  --teaser-theme-box-color: #666666;
  --not-selected-checkbox-bg-color: #E6E6E6;
  --bottom-line-color: #E6E6E6;
  --speech-bubble-border-color: #E6E6E6;
  --help-icon-color: #999999;
  --help-icon-color-hovered: #666666;
  --link-color: #1855ED;
  --link-hovered-color: #F30D12;
  --text-link-hovered-color: #333333;
  --language-dropdown-menu-icon-color: #666666;
  --customize-dropdown-menu-icon-color: #F30D12;
  --standout-text-color: #F30D12;
  --active-tab-color: #333333;
  --locked-toggle-color: #E6E6E6;
  --adblock-logo-url: url(icons/logo.png);
  --twitter-logo-url: url(icons/twitter-icon.svg);
  --facebook-logo-url: url(icons/facebook-icon.svg);
  --language-dropdown-icon-url: url(icons/dropdown_circle.svg);
  --select-language-border-top-width: 1px;
}