#dark_theme {
  --main-text-color: #F4F4F4;
  --popup-menu--main-text-color: #F4F4F4;
  --popup-menu--entry-hovered-bg-color: #333333;
  --popup-menu--block-ads-bg-color: #4C4C4C;
  --block-count-color: #FF363B;
  --background-color: #666666;
  --options-header-bg-color: #4C4C4C;
  --options-footer-bg-color: #4C4C4C;
  --options-page-title-color: #F4F4F4;
  --teaser-theme-box-color: #666666;
  --not-selected-checkbox-bg-color: #999999;
  --bottom-line-color: #999999;
  --speech-bubble-border-color: #999999;
  --help-icon-color: #999999;
  --help-icon-color-hovered: white;
  --link-color: #4ECDF9;
  --link-hovered-color: #03BCFC;
  --text-link-hovered-color: #03BCFC;
  --language-dropdown-menu-icon-color: white;
  --customize-dropdown-menu-icon-color: white;
  --standout-text-color: #FFCA00;
  --active-tab-color: #F4F4F4;
  --locked-toggle-color: #999999;
  --header-social-icons: #F4F4F4;
  --adblock-logo-url: url(icons/dark_theme/logo.svg);
  --select-language-border-top-width: 0px;
  --feature-card-header-text-color: #4c4c4c;
  --teaser-card-header-text-color: #666666;
  --feature-card-header-bg-color: #c6c6c6;
  --feature-card-body-bg-color: #999999;
  --image-swap-section-bg-unselected: #4c4c4c;
  --image-swap-section-bg-selected: #666666;
  --off-color: #FFCA00;
  --off-border-color: #FFFFFF;
  --sync-error-msg-background-color: #E40D0D;
  --sync-error-msg-color: #FFFFFF;
  --sync-msg-background-color: #05BCFC;
  --sync-msg-color: #FFFFFF;
}
#default_theme {
  --main-text-color: #666666;
  --popup-menu--main-text-color: #333333;
  --popup-menu--entry-hovered-bg-color: #E6E6E6;
  --popup-menu--block-ads-bg-color: #f4f4f4;
  --block-count-color: #CE0707;
  --background-color: white;
  --options-header-bg-color: #F1F1F1;
  --options-footer-bg-color: #F1F1F1;
  --options-page-title-color: #333333;
  --teaser-theme-box-color: #666666;
  --not-selected-checkbox-bg-color: #E6E6E6;
  --bottom-line-color: #E6E6E6;
  --speech-bubble-border-color: #E6E6E6;
  --help-icon-color: #999999;
  --help-icon-color-hovered: #666666;
  --link-color: #1855ED;
  --link-hovered-color: #F30D12;
  --text-link-hovered-color: #333333;
  --language-dropdown-menu-icon-color: #666666;
  --customize-dropdown-menu-icon-color: #F30D12;
  --standout-text-color: #F30D12;
  --active-tab-color: #666666;
  --locked-toggle-color: #E6E6E6;
  --header-social-icons: #666666;
  --adblock-logo-url: url(icons/default_theme/logo.svg);
  --select-language-border-top-width: 1px;
  --feature-card-header-text-color: #666666;
  --teaser-card-header-text-color: #999999;
  --feature-card-header-bg-color: #e6e6e6;
  --feature-card-body-bg-color: #f4f4f4;
  --image-swap-section-bg-unselected: #f4f4f4;
  --image-swap-section-bg-selected: white;
  --off-color: #F30D12;
  --off-border-color: #999999;
  --sync-error-msg-background-color: #E40D0D;
  --sync-error-msg-color: #FFFFFF;
  --sync-msg-background-color: #05BCFC;
  --sync-msg-color: #FFFFFF;
}
#watermelon_theme {
  --popup-menu--main-text-color: #ffffff;
  --popup-menu--entry-hovered-bg-color: #CE0707;
  --popup-menu--block-ads-bg-color: #CE0707;
  --block-count-color: #ffffff;
  --background-color: #E40D0D;
  --link-color: #333333;
  --adblock-logo-url: url(icons/watermelon_theme/logo.svg);
}
#solarized_theme {
  --popup-menu--main-text-color: #90A2A2;
  --popup-menu--entry-hovered-bg-color: #002C38;
  --popup-menu--block-ads-bg-color: #002C38;
  --block-count-color: #EE0D20;
  --background-color: #003643;
  --link-color: #009F94;
  --adblock-logo-url: url(icons/solarized_theme/logo.svg);
}
#ocean_theme {
  --popup-menu--main-text-color: #ffffff;
  --popup-menu--entry-hovered-bg-color: #2284F7;
  --popup-menu--block-ads-bg-color: #2284F7;
  --block-count-color: #ffffff;
  --background-color: #03BCFC;
  --link-color: #333333;
  --adblock-logo-url: url(icons/ocean_theme/logo.svg);
}
#sunshine_theme {
  --popup-menu--main-text-color: #ffffff;
  --popup-menu--entry-hovered-bg-color: #FF9C00;
  --popup-menu--block-ads-bg-color: #FF9C00;
  --block-count-color: #ffffff;
  --background-color: #FFAE00;
  --link-color: #7F5600;
  --adblock-logo-url: url(icons/sunshine_theme/logo.svg);
}
