/* MAB page */

#mab-new-feature {
  color: #ffae00;
  font-weight: bold;
}
#myadblock-features {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.mab-feature {
  width: 336px;
  height: 320px;
  margin: 20px 0;
  border-radius: 6px;
  position: relative;
}
.mab-feature .hover-overlay {
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  background-color: rgba(102, 102, 102, 0.85);
}
.mab-feature .hover-overlay span,
.mab-feature .hover-overlay .material-icons,
.mab-feature:not(.teaser):not(.locked) .mab-feature-header .material-icons {
  color: white;
}
.mab-feature-header {
  height: 64px;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 6px 6px 0 0;
  background-color: var(--feature-card-header-bg-color);
}
.mab-feature:not(.teaser):not(.locked) .mab-feature-header {
  color: white;
  background-color: #e40d0d;
}
.teaser .mab-feature-header,
.teaser .mab-feature-header i {
  color: var(--teaser-card-header-text-color);
}
.mab-feature-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 24px 24px 24px;
  background-color: var(--feature-card-body-bg-color);
  height: calc(100% - 64px);
  border-radius: 0 0 6px 6px;
  line-height: normal;
}
.mab-feature-header > * {
  margin-right: 8px;
}
.mab-feature-header .header-icon {
  margin: 0 16px 0 24px;
}
.mab-feature.locked:not(.teaser) .header-icon,
.mab-feature.locked:not(.teaser) a .mab-feature-header {
  color: var(--feature-card-header-text-color);
}
.mab-icon {
  height: 18px;
  width: 18px;
}
.mab-feature > .feature-locked-icon {
  display: none;
  top: -10px;
  right: -10px;
  position: absolute;
  z-index: 1;
  font-size: 32px;
  color: #F30D12;
  background-color: white;
  clip-path: circle(13px);
  -webkit-clip-path: circle(13px);
}
.feature-locked-icon:hover {
  cursor: default;
}
.mab-feature.locked > .feature-locked-icon {
  display: block;
}
.mab-feature.locked a {
  pointer-events: none;
}
.mab-feature.locked:hover .hover-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}
#landscape-icon {
  content: url(icons/adblock-picreplacement-images-menu-landscape.png);
}
#dog-icon {
  content: url(icons/adblock-picreplacement-images-menu-dog.png);
}
#cat-icon {
  content: url(icons/adblock-picreplacement-images-menu-cat.png);
}
#image-swap-preview {
  width: 267px;
  content: url(icons/adblock-picreplacement-image-swap.png);
  align-self: center;
}
#themes-preview {
  width: 271px;
  height: 151px;
  content: url(icons/themes.svg);
  align-self: center;
  border-radius: 7px;
}
#sync-preview {
  width: 288px;
  height: 142px;
  content: url(icons/sync-content-4.svg);
  align-self: center;
}

/* MAB enrollment "magic box" */
#mab-enrollment-section {
  border-radius: 6px;
  box-shadow: 0 10px 20px 0 rgba(0,0,0,.2);
  padding: 17px 24px 20px 24px;
  position: relative;
  margin-top: 5px;
}

#mab-enrollment-section header {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
  margin: -10px;
  padding-right: 35px;
  position: relative;
}

#mab-enrollment-section header::before,
#mab-enrollment-section header::after {
  background-color: var(--background-color);
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  width: 10px;
}

#mab-enrollment-section header::before {
  bottom: -1px;
  left: -1px;
}

#mab-enrollment-section header::after {
  bottom: -1px;
  right: -1px;
}

#mab-enrollment-section header h1 {
  font-size: 18px;
  flex: 1 1 auto;
  width: min-content;
  min-width: 300px;
  padding: 0 0 13px 0;
  margin: 10px;
  color: var(--popup-menu--main-text-color);
}

#mab-enrollment-section header form {
  margin: 10px;
  font-size: 14px;
  color: var(--help-icon-color);
}

#mab-link-section {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  padding-top: 15px;
}

#mab-link-section > div {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0 0 5px 0;
  margin: 15px;
  flex: 1 0 auto;
}

#mab-link-section > i {
  margin: 17px 0 0 15px;
  height: 24px;
  cursor: default;
}

#mab-link-section a {
  color: var(--link-color);
}

#mab-enrollment-resend-error-icon {
  color: var(--standout-text-color);
  background-color: white;
  clip-path: circle(10px at 50%);
  -webkit-clip-path: circle(9.5px at 50%);
}

#mab-enrollment-resend-success-icon {
  color: #05bcfc;
  background-color: white;
  clip-path: circle(10px at 50%);
  -webkit-clip-path: circle(9.5px at 50%);
}

#mab-link-section > p {
  margin: 15px;
  width: min-content;
  min-width: 300px;
  font-size: 18px;
  flex: 20 1 auto;
}

#mab-enrollment-resend {
  border-radius: 6px;
  border: 1px solid #e5e5e6;
  width: 256px;
  min-width: 256px;
  padding: 10px 0;
  font-size: 16px;
  color: var(--popup-menu--main-text-color);
  cursor: pointer;
  background: var(--background-color);
}

#mab-enrollment-resend:hover {
  -moz-box-shadow:0 5px 15px rgba(10,14,71,0.2);
  -webkit-box-shadow:0 5px 15px rgba(10,14,71,0.2);
  box-shadow:0 5px 15px rgba(10,14,71,0.2);
}

#mab-enrollment-close {
  border: none;
  position: absolute;
  top: 20px;
  right: 12px;
  color: var(--popup-menu--main-text-color);
  cursor: pointer;
  background: var(--background-color);
}

#mab-enrollment-close i {
  color: var(--main-text-color);
}

/* Loading Animation "ellipsis" from loading.io */

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 256px;
  margin: 0;
  padding: 0;
}

.lds-ellipsis div {
  position: absolute;
  top: -25px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: var(--help-icon-color);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 96px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 96px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 116px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 135px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

/* MAB iframe */

#payment-iframe-mab,
#payment-iframe-themes {
  display: none;
  width: 336px;
  min-height: 100vh;
  align-self: stretch;
  margin-left: auto;
  background: transparent;
}
#payment-iframe-error-mab,
#payment-iframe-error-themes  {
  display: none;
  padding: 50px 14px;
  width: 336px;
  min-height: 100vh;
  align-self: stretch;
  margin-left: auto;
  background-color: var(--options-header-bg-color);
}
#payment-iframe-themes,
#payment-iframe-error-themes {
  transition: transform .65s ease-in;
  transform: scaleX(0);
  transform-origin: right;
}
#payment-iframe-themes.slide-in,
#payment-iframe-error-themes.slide-in {
  transform: scaleX(1);
}
#error-title-mab,
#error-title-themes {
  font-size: 18px;
  font-weight: bold;
  color: var(--options-page-title-color);
}
#error-title-mab,
#error-title-mab > div:first-child,
#error-title-themes,
#error-title-themes > div:first-child {
  padding-bottom: 15px;
}
#error-title-mab .error-icon:hover
#error-title-themes .error-icon:hover {
  cursor: default;
}
#error-title-mab .error-icon,
#error-title-themes .error-icon {
  color: #E40D0D;
}

/* Image Swap */

#photo-icon {
  margin-right: 8px;
  color: var(--options-page-title-color);
}
#cover-image-feature-preview {
  content: url(icons/replaceads_heroimage.png);
  max-width: 645px;
  padding: 15px 0;
  width: 100%;
  margin: 0 auto;
}
#image-swap-description {
  padding-bottom: 15px;
  width: 100%;
}
#channel-options {
  padding-top: 15px;
}
#channels {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.image-box {
  pointer-events: none;
  position: relative;
  cursor: pointer;
  width: 140px;
  height: 135px;
  border-radius: 6px;
  overflow: visible;
  background-color: #E6E6E6;
  margin: 5px;
}
.overlay,
.channel-image {
  pointer-events: none;
  width: 100%;
  height: auto;
}
.overlay {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content:  space-between;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 6px;
  background-color: transparent;
}
.image-box:not(.selected) .selected-icon {
  opacity: 0;
}
.selected .selected-icon {
  position: absolute;
  top: -8px;
  left: 125px;
  pointer-events: none;
  color: #05BCFC;
}
.channel-name {
  pointer-events: none;
  color: white;
  font-weight: bold;
  z-index: 1;
  padding: 10px;
}
#image-swap-selection {
  background-color: var(--image-swap-section-bg-unselected);
  padding: 15px;
  border-radius: 6px;
}
#image-swap-selection.shadow {
  background-color: var(--image-swap-section-bg-selected);
}
input.invisible-overlay {
  pointer-events: auto;
  position: absolute;
  cursor: pointer;
  height: 100%;
  width: 100%;
  opacity: 0;
  top: 0;
  left: 0;
}
#coming-soon-photo {
  height: 50%;
  width: auto;
  padding: 5px 8px;
}
#coming-soon-photo .material-icons {
  color: #666666;
}
.coming-soon-text {
  color: #666666;
  padding: 5px 8px;
}
#cats {
  content: url(icons/adblock-picreplacement-images-cat-grayscale.png);
}
#dogs {
  content: url(icons/adblock-picreplacement-images-dog-grayscale.png);
}
#landscapes {
  content: url(icons/adblock-picreplacement-images-landscape-grayscale.png);
}

/* Themes */
#video-icon {
  margin-right: 8px;
  color: var(--options-page-title-color);
}
.theme-locked-icon {
  display: none;
  top: -8px;
  left: 145px;
  position: absolute;
  z-index: 1;
  color: #e40d0d;
}
.theme-locked-icon:hover {
  cursor: default;
}
.theme-wrapper.locked .theme-locked-icon {
  display: block;
}
.theme-wrapper.locked .material-icons.theme-name-lock {
  display: flex;
  font-size: 16px;
  margin-right: 4px;
}
.theme-wrapper.locked .material-icons.theme-name-lock + .theme-name {
  width: auto;
}
.theme-wrapper:not(.locked) .material-icons.theme-name-lock {
  display: none;
}

/* Selectd image rules */

.selected.image-box {
  box-shadow: 0 5px 15px 0 rgba(10, 14, 71, 0.2);
}
.selected #cats {
  content: url(icons/adblock-picreplacement-images-cat.png);
}
.selected #dogs {
  content: url(icons/adblock-picreplacement-images-dog.png);
}
.selected #landscapes {
  content: url(icons/adblock-picreplacement-images-landscape.png);
}


/* Sync */

#no-license-div, #turn-on-div {
  padding-top: 52px;
}
#no-license-div, #turn-on-div, #enter-name-div {
  padding-bottom: 18px;
}
#extension-name {
  flex-grow: 1;
}
#extension-name-txt {
  font-weight: bold;
}
#error-message {
  margin-block-end: 0;
  margin-block-start: 0;
  height: 25px;
}
#last-updated-on {
  height: 17px;
  font-size: 14px;
}

.sync-sub-header {
  height: 25px;
  font-size: 21px;
}
#sync-overview-image {
  width: 630px;
  height: 157px;
}

#sync-icon {
  color: var(--options-page-title-color);
}

#sync-1-4-image {
  padding-top: 22px;
  padding-bottom: 60px;
}

.button-size {
  padding-left: 16px;
  padding-right: 16px;
  min-width: 128px;
  height: 40px;
  font-size: 18px;
  white-space:nowrap;
}

.sync-out-of-date-header-message, .sync-tab-message {
  z-index: 5;
  top: -54px;
}

#customize .sync-header-message, .sync-out-of-date-header-message {
  top: -27px;
}

#customize .sync-out-of-date-header-message {
  top: 0;
}

.sync-header-message, .sync-out-of-date-header-message, .sync-tab-message {
  min-height: 27px;
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  opacity: 1;
  margin-left: -5px;
  z-index: 5;
}

.sync-header-message-normal, .sync-out-of-date-header-message, .sync-tab-message-normal {
  color: white;
  background-color: black;
}

.sync-header-message-hidden, .sync-out-of-date-header-message-hidden, .sync-tab-message-hidden {
  opacity: 0;
}

.sync-out-of-date-header-message a {
  background-color: var(--sync-error-msg-background-color);
  color: var(--sync-error-msg-color);
  cursor: pointer;
}

.sync-message-good {
  display: block;
  background-color: var(--sync-msg-background-color);
  color: var(--sync-msg-color);
}

.sync-message-error {
  display: block;
  background-color: var(--sync-error-msg-background-color);
  color: var(--sync-error-msg-color);
}

.sync-header-sync-icon, .sync-header-done-icon {
  background-color: var(--sync-msg-background-color);
  color: var(--sync-msg-color);
}

.sync-header-sync-icon:hover, .sync-header-done-icon:hover {
  color: var(--sync-msg-color);
}

.sync-header-error-icon, .sync-out-of-date-header-error-icon {
  background-color: var(--sync-error-msg-background-color);
  color: var(--sync-error-msg-color);
}

.sync-header-error-icon:hover, .sync-out-of-date-header-error-icon:hover {
  color: var(--sync-error-msg-color);
}

.sync-icon {
  cursor: unset;
  display: none;
}

.sync-error-link-text-color:hover {
  color: #4ECDF9;
}
.sync-error-link-text-color {
  color: #4ECDF9;
}

/* Retina & hi DPI displays only */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  #landscape-icon {
    content: url(icons/adblock-picreplacement-images-menu-landscape@2x.png);
  }
  #dog-icon {
    content: url(icons/adblock-picreplacement-images-menu-dog@2x.png);
  }
  #cat-icon {
    content: url(icons/adblock-picreplacement-images-menu-cat@2x.png);
  }
  #image-swap-preview {
    content: url(icons/adblock-picreplacement-image-swap@2x.png);
  }
}

/* Screen size support */

@media screen and (max-width: 1265px) {
  @media screen and (max-width: 700px) {
    #channels#channels {
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }
}