.myadblock-tab-content {
  display: none;
}

/* TAB */
#myadblock-tab-lock {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background-size: 14px auto;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url(icons/lock.png);
}
.ui-state-active #myadblock-tab-lock {
  background-position: 0px -14px;
}

/* FEATURE HEADER ICONS */
#image-icon {
  content: url(icons/photo.svg);
  margin-right: 8px;
}
#lock-icon {
  content: url(icons/lock.svg);
}

/* TOGGLE */
#feature-toggle {
  margin-left: auto;
}
.lock-switch {
  margin-left: 8px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 22px;
}
.switch input {display:none;}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e6e6e6;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider::before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 2px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #05BCFC;
}
input:focus + .slider {
  box-shadow: 0 0 1px #05BCFC;
}
input:checked + .slider::before {
  transform: translateX(19px);
}
.slider.round {
  border-radius: 22px;
}
.slider.round::before {
  border-radius: 50%;
}

/* ERROR PAGE */
#error-message-box {
  height: fit-content;
  padding: 24px;
  margin-bottom: 30px;
  border: 1px solid #f4f4f4;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0 10px 15px 0 rgba(10, 14, 71, 0.2);
}
#error-message-box-header {
  display: flex;
}
#error-box-header {
  font-weight: bold;
  font-size: 21px;
  color: #333333;
  margin-left: 8px;
  display: inline-block;
}
#error-box-text {
  color: #666666;
  font-size: 14px;
}
#red-circle {
  content: url(icons/error_icon.svg);
}
.wiggle {
  animation-name: shake;
  animation-duration: 0.88s;
  animation-fill-mode: none;
  animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
@keyframes shake {
  10%,
  90% {
    transform: translate(1px, -1px);
  }

  20%,
  80% {
    transform: translate(-1px, 1px);
  }

  30%,
  50%,
  70% {
    transform: translate(0, -2px);
  }

  40%,
  60% {
    transform: translate(0, 2px);
  }
}

/* FEATURE PREVIEW DISABLED */
#cover-image-feature-preview {
  content: url(icons/replaceads_heroimage.png);
  width: 100%;
  height: auto;
  max-width: 750px;
  padding: 30px 0px;
}

/* FEATURE ENABLED */
.enabled-feature-description {
  margin: 20px 0px;
}
#channels {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.image-box {
  pointer-events: none;
  position: relative;
  cursor: pointer;
  width: 140px;
  height: 135px;
  border-radius: 6px;
  overflow: hidden;
  background-color: #E6E6E6;
}
.overlay,
.channel-image {
  pointer-events: none;
  width: 100%;
  height: auto;
}
.overlay {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content:  space-between;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 6px;
  overflow: hidden;
  background-color: transparent;
}
.channel-name {
  pointer-events: none;
  color: white;
  font-weight: bold;
  z-index: 1;
  padding: 10px;
}
.heart-icon {
  pointer-events: none;
  margin-left: auto;
  width: 20px;
  height: 20px;
  padding: 10px;
}
.heart-icon {
  content: url(icons/outline_heart.svg)
}
#cats {
  content: url(icons/adblock-picreplacement-images-cat-grayscale.png);
}
#dogs {
  content: url(icons/adblock-picreplacement-images-dog-grayscale.png);
}
#landscapes {
  content: url(icons/adblock-picreplacement-images-landscape-grayscale.png);
}

input.invisible-overlay {
  pointer-events: auto;
  position: absolute;
  cursor: pointer;
  height: 100%;
  width: 100%;
  opacity: 0;
  top: 0;
  left: 0;
}

#coming-soon-photo {
  content: url(icons/photo.svg);
  height: 50%;
  width: auto;
  padding: 5px 8px;
}
.coming-soon-text {
  color: #666666;
  padding: 5px 8px;
}

#paid-user-view .feature-view {
  display: none;
}

/* Selectd image rules */
.selected.image-box {
  box-shadow: 0 5px 15px 0 rgba(10, 14, 71, 0.2);
}
.selected .heart-icon {
  content: url(icons/filled_heart.svg)
}
.selected #cats {
  content: url(icons/adblock-picreplacement-images-cat.png);
}
.selected #dogs {
  content: url(icons/adblock-picreplacement-images-dog.png);
}
.selected #landscapes {
  content: url(icons/adblock-picreplacement-images-landscape.png);
}

/* Retina & hi DPI displays only */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  #myadblock-tab-lock {
    background-image: url(icons/lock@2x.png);
  }
}
