@import "adblock.css";
@import "adblock-color-themes.css";

/* GENERAL */

body {
  color: var(--popup-main-text-color);
  background-color: var(--background-color);
}
#wrapper {
  font-size: 15px;
  margin: 0px 0px;
  width: 275px;
  max-height: 606px;
}
.separator {
  height: 1px;
  background-color: var(--popup-accent-color);
  opacity: 0.5;
  margin: 0px 10px;
}
.menu-entry {
  padding: 2px 10px;
  cursor: pointer;
}
.menu-entry:hover {
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  background-color: var(--popup-entry-hovered-bg-color);
}
.menu-status-italic {
  padding: 2px 10px;
  font-style: italic;
  display: none;
}
.right {
  float: right;
}
.italic {
  font-style: italic;
}
.last-item {
  padding-bottom: 8px;
}
/* HEADER */

.header-logo {
  cursor: pointer;
  height: 32px;
  width: auto;
}
#premium_status_msg {
  display: none;
  font-weight: bold;
  font-size: 8px;
  border: 0.5px solid var(--premium-badge);
  border-radius: 2px;
  margin-right: 8px;
  padding-left: 3px;
  padding-right: 3px;
  line-height: 16px;
  color: var(--premium-badge);
  text-transform: uppercase;
}
#header-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header-icons {
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#header-icons .material-icons {
  color: var(--popup-accent-color);
}
#header-icons .material-icons:hover {
  color: var(--popup-accent-hovered-color);
}

#header-icons .material-icons:focus {
  outline: var(--link-color) auto 5px;
  opacity: 1;
}
#titletext {
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#help_link {
  margin-right: 2px;
}

/* BLOCKED COUNT */

#block_counts {
  display: none;
}
#block_counts.remove-bottom-margin {
  margin-bottom: 0px;
}
.header {
  font-weight: bold;
}
.block_count_number {
  font-weight: bold;
  color: var(--block-count-color);
}
a {
  color: var(--link-color);
}
a:hover {
  font-weight: bold;
  color: var(--popup-link-hovered);
}
.box {
  margin: 0px;
  padding: 10px;
  background-color: var(--popup-block-ads-bg-color);
}

/* PREMIUM CTAs */

.premium-cta.menu-entry {
  display: flex;
  align-items: stretch;
  padding: 0;
}
.premium-cta .cta-message {
  margin-left: 8px;
}
.premium-cta:hover .cta-message > span {
  display: none;
}
.premium-cta:hover .cta-message::after {
  font-weight: bold;
}
.cta-description {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 4px 10px;
}
button.premium-cta-close {
  display: none;
  width: 28px;
  height: auto;
  border-radius: 0;
}
button.premium-cta-close:hover {
  box-shadow: none;
}
.premium-cta:hover .premium-cta-close {
  display: flex;
  justify-content: center;
  align-items: center;
}
#newText_v2 {
  color: white;
  background-color: #03bcfc;
  font-weight: bold;
  font-size: 13px;
  border-radius: 3px;
  padding: 1px 5px;
  line-height: normal;
}
#mabNewCtaClose {
  background-color: #03bcfc;
}
#mabNewCtaClose > i {
  color: white;
}
#div_myadblock_enrollment_v2:hover {
  color: white;
  background-color: #2284f7;
}
#div_premium_themes_cta {
  color: var(--popup-themes-cta-text);
  background: var(--popup-themes-cta-background);
}
#div_premium_themes_cta .cta-description {
  padding: 8px 10px;
}
#div_premium_themes_cta:not(:hover) .cta-description > i {
  color: var(--popup-themes-cta-icon);
}
#div_premium_themes_cta:hover {
  color: var(--popup-themes-cta-color-on-hover);
  background-color: var(--popup-themes-cta-background-on-hover);
}
#close-themes-cta {
  background-color: rgba(255, 255, 255, 0.25);
}
#close-themes-cta > i {
  color: var(--popup-themes-cta-color-on-hover);
}
.separator.hide-on-new-cta-hover {
  background-color: var(--background-color);
}

/* STATUS & SYNC */

#div_status_beta {
  padding-left: 10px;
}

#div_sync_outofdate_error_msg,
#div_sync_error_msg,
#div_sync_outofdate_error_msg a,
#div_sync_outofdate_error_msg a span {
  background-color: var(--sync-error-msg-background-color);
  color: var(--sync-msg-color);
  text-align: center;
  cursor: pointer;
  line-height: 22px;
  padding: 0px 4px 0px 10px;
  font-size: 14px;
}
#div_sync_outofdate_error_msg,
#div_sync_error_msg {
  cursor: unset;
  display: none;
}
#div_sync_outofdate_error_msg a span {
  color: var(--sync-msg-color);
  text-decoration: underline;
  padding: 0px 0px 0px 0px;
}
#div_sync_outofdate_error_msg a:hover {
  font-weight: normal;
}
#div_sync_outofdate_error_msg a span:hover {
  font-weight: normal;
}
